### Merging data from WardWatcher (ICNARC) and Philips (ICCA).

Here use the following files:

* 'encounter_summary (1).rpt'  - a tab separated file with output from a simple SQL run on ICCA to extract basic information about patient encounters (ITU stays).

* 'ICNARC 2015-2018 encounterIds and Readmissions.TXT' - a file containing ICNARC patient IDs and the corresponding 'CIS Patient ID', which link to encounterID in Philips.

* 'Philips encounterId Issue List (New).xlsx' - a file documenting known issues with either encounterIds in Philips or CIS Patient IDs in WW. We clean up the IDs using this file before joining the two datasets.

* 'ICNARC_Dataset_2015-2018__clean_.xml' - xml file containing output of ICNARC dataset

* 'ICNARC CMP Dataset Properties.xlsx' - description of variables in the ICNARC dataset

In doing so we simplify somewhat the table strucutre used by the Philips ICCA system. This is possible in part by the exlucsion of data that is not currently deemed relevant for research. We draw inspiration for our table names from [MIMIC-III](https://mimic.physionet.org/).

In [1]:
VERBOSE = False ## For reasons of data protection we supress printing of results and data summaries.
import numpy as np
import pandas as pd

/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/_libs/__init__.py:4: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .tslib import iNaT, NaT, Timestamp, Timedelta, OutOfBoundsDatetime
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/__init__.py:26: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (hashtable as _hashtable,
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/dtypes/common.py:6: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/util/hashing.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import hashing, tslib
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/indexes/base.py:7: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, index as libindex, tslib as libts,
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/tseries/offsets.py:21: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.tslibs.offsets as liboffsets
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/ops.py:16: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as libalgos, ops as libops
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/indexes/interval.py:32: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs.interval import (
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/internals.py:14: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import internals as libinternals
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/sparse/array.py:33: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.sparse as splib
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/window.py:36: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.window as _window
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/groupby/groupby.py:68: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import (lib, reduction,
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/core/reshape/reshape.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos as _algos, reshape as _reshape
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/io/parsers.py:45: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  import pandas._libs.parsers as parsers
/home/rusty/anaconda3/lib/python2.7/site-packages/pandas/io/pytables.py:50: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from pandas._libs import algos, lib, writers as libwriters

#### Functions for cleaning up the encounter IDs and parsing the ICNARC xml file are imported:

In [2]:
from clean_encounterids import *
from parse_ICNARC_xml import *

#### Clean up ICNARC CIS ID numbers.

Each record in the ICNARC data links to an encounterId in Philips. In some few cases the links are wrong (e.g. it links to an empty record). The following function fixes those encounter IDs in the ICNARC data by replacing the eroneous encounterIds in the column "CIS Patient ID". It also creates a new column "CIS Patient ID Original" which contains the original encounterIds prior to replacement. At the time of writing there are only 5 such errors for GICU.

In [3]:
icnarc_numbers = clean_icnarc_cis_ids('../ICNARC 2015-2018 encounterIds and Readmissions.TXT', 
                                      '../Philips encounterId Issue List (New).xlsx',
                                    verbose=VERBOSE)

#### Clean up Philips encounterId numbers.

The Philips database creates a new encounterId for each intensive care stay. Sometimes this process doesn't work as desired e.g. erroneous records are created, patients are accidentally discharged and readmitted creating a new record etc. 

The following function fixes the class of errors that results in multiple encounterIds that correspond to the same physical intensive care stay. It does so by replacing the erroneous encounterIds with the 'main' encounterId for that stay (i.e. the encounterId that links to the corresponding ICNARC record). It also creates a new column, encounterId_original, that contains the original ids prior to replacement. 

When the flag "log_error_type" is set to True, the function creates another new column "error_type" which specifies the type of error associated with each encounterId. It species one of 16 error types identified by Josh Inoue (UHB) and described in the file "Philips encounterId Read Me.txt", or contains "NA" if there is no known error. This flag is useful because there are encounterIds which we know have an issue but which we do not alter. For example, very occasionally a patient is discharged from ICU and then readmitted but is never removed from the Philips system. In such cases we know that a single encounterId in Philips (and in ICNARC) corresponds to two physical ICU stays. With the "error_type" flag, the user of the data can decide how they want to deal with different types of error during data processing.    

Note: here we are processing a patient summary (demographic) table so we want to log the error type for each encounter. It is not recomended or required to do this when processing a large table of physiological measurements/interventions, so the default value of log_error_type is False.

In [4]:
philips_data = clean_philips_encounterids('../encounter_summary (1).rpt', 
                                  '../Philips encounterId Issue List (New).xlsx',
                                  verbose=VERBOSE, log_error_type=True)

In [5]:
philips_data

,ptCensusId,encounterId_original,inTime,outTime,age,tNumber,lengthOfStay (mins),gender,encounterId,error_type
0,1099,1089,2015-03-01 13:27:05,2015-03-09 16:42:57,58.0,T7788877,11715,Male,1089,NA
1,1102,1092,2015-03-01 19:01:34,2015-03-02 17:06:43,60.0,T7364685,1325,Female,1092,NA
2,1103,1093,2015-03-01 22:03:42,2015-03-04 02:57:47,90.0,T5004466,3174,Female,1093,NA
3,1104,1094,2015-03-01 22:45:51,2015-03-01 23:03:52,73.0,T5875123,18,Female,1094,NA
4,1105,1095,2015-03-01 22:49:16,2015-04-13 19:26:25,43.0,T5835459,61657,Female,1095,NA
5,1106,1096,2015-03-02 18:35:46,2015-03-04 02:58:16,54.0,T7806868,1943,Male,1096,NA
6,1107,1097,2015-03-02 18:56:55,2015-03-04 00:05:24,79.0,T5089790,1749,Female,1097,NA
7,1108,1098,2015-03-02 20:57:39,2015-03-10 12:24:30,78.0,T5050350,11007,Female,1098,NA
8,1109,1099,2015-03-03 06:01:25,2015-03-12 15:58:11,70.0,T5052198,13557,Female,1099,NA
9,1110,1100,2015-03-03 15:26:41,2015-03-05 16:31:14,61.0,T5007198,2945,Male,1100,NA
10,1111,1101,2015-03-03 19:54:30,2015-03-06 13:30:38,78.0,T7855302,3936,Female,1101,NA
11,1112,1102,2015-03-04 07:05:31,2015-03-05 14:46:20,34.0,T5425279,1901,NaN,1102,NA
12,1125,1110,2015-03-04 09:49:18,2015-03-04 09:50:52,54.0,T7806868,1,Male,1096,NoBed PostStay
13,1126,1111,2015-03-04 09:49:21,2015-03-04 09:51:00,79.0,T5089790,2,Female,1097,NoBed PostStay
14,1133,1123,2015-03-04 10:35:56,2015-03-10 17:00:32,84.0,T6683637,9025,Female,1123,NA
15,1141,1131,2015-03-04 23:15:33,2015-03-06 19:13:12,47.0,T5636513,2638,Male,1131,NA
16,1148,1138,2015-03-05 18:17:50,2015-03-12 14:54:36,70.0,T5685484,9877,Male,1138,NA
17,1149,1139,2015-03-05 19:34:30,2015-03-06 16:52:17,64.0,T7492315,1278,Female,1139,NA
18,1152,1142,2015-03-05 23:28:00,2015-03-07 22:27:11,59.0,T7804428,2819,Male,1142,NA
19,1155,1145,2015-03-06 11:58:31,2015-03-10 15:19:32,52.0,T5995244,5961,Male,1145,NA
20,1159,1149,2015-03-06 15:47:26,2015-03-10 16:42:35,43.0,T6611093,5815,Male,1149,NA
21,1160,1150,2015-03-06 18:17:26,2015-03-06 23:27:31,64.0,T7492315,310,Female,1139,Split Stay
22,1162,1152,2015-03-07 00:06:05,2015-03-09 15:13:51,75.0,t6893055,3787,Female,1152,NA
23,1163,1153,2015-03-07 01:29:06,2015-03-07 13:38:03,43.0,T5734285,729,Male,1153,NA
24,1164,1154,2015-03-07 09:00:02,2015-03-07 12:10:37,115.0,t7865530,190,NaN,1154,NA
25,1166,1156,2015-03-07 17:27:59,2015-03-14 15:48:31,57.0,T5899509,9981,Male,1156,NA
26,1167,1157,2015-03-07 22:38:38,2015-03-11 10:44:43,74.0,T5214049,5046,Female,1157,NA
27,1168,1158,2015-03-08 09:58:31,2015-03-22 16:41:25,52.0,T7004254,20563,Female,1158,NA
28,1172,1162,2015-03-09 05:29:30,2015-03-10 07:08:45,79.0,T5234857,1539,Female,1162,NA
29,1173,1163,2015-03-09 07:53:59,2015-03-26 15:01:13,64.0,T6933643,24908,Female,1163,NA
...,...,...,...,...,...,...,...,...,...,...
5696,19308,19059,2019-05-14 17:37:47,2019-05-16 00:39:48,71.0,T8020147,1862,Female,19059,NA
5697,19309,19060,2019-05-14 19:55:21,2019-05-15 15:56:16,76.0,T6811614,1201,Male,19060,NA
5698,19316,19066,2019-05-15 10:56:01,2019-05-20 12:53:17,36.0,T5067617,7317,Female,19066,NA
5699,19317,19067,2019-05-15 11:42:41,NaT,68.0,T6431130,7447,Male,19067,NA
5700,19320,19070,2019-05-15 16:11:38,2019-05-16 22:41:24,63.0,T8129912,1830,Male,19070,NA
5701,19327,19077,2019-05-15 21:19:33,NaT,74.0,T8130243,6870,Male,19077,NA
5702,19328,19078,2019-05-15 23:25:50,2019-05-19 00:47:36,51.0,T6747577,4402,Male,19078,NA
5703,19329,19079,2019-05-16 09:15:15,2019-05-17 12:43:56,49.0,T5889825,1648,Female,19079,NA
5704,19331,19081,2019-05-16 10:58:55,2019-05-16 17:29:37,24.0,T6168948,391,Male,19081,NA
5705,19338,19088,2019-05-16 19:15:04,2019-05-18 17:21:28,72.0,T7834570,2766,Male,19088,NA
5706,19339,19089,2019-05-16 21:24:01,2019-05-17 19:46:28,25.0,T7511563,1342,Male,19089,NA
5707,19340,19090,2019-05-16 23:09:41,2019-05-19 00:50:08,74.0,T4509862,2981,Male,19090,NA
5708,19341,19091,2019-05-17 04:47:29,2019-05-18 10:52:09,31.0,T5962884,1805,Male,19091,NA
5709,19343,19093,2019-05-17 08:40:03,NaT,NaN,T6951406,4749,Female,19093,NA
5710,19348,19098,2019-05-17 10:03:15,2019-05-18 04:02:29,86.0,T6197906,1079,Female,19098,NA
5711,19353,19103,2019-05-17 16:01:38,NaT,50.0,T6738912,4308,Female,19103,NA
5712,19354,19104,2019-05-17 19:21:26,NaT,70.0,T5902668,4108,Male,19104,NA
5713,19355,19105,2019-05-17 22:02:52,2019-05-19 20:50:32,47.0,T6613546,2808,Male,19105,NA
5714,19357,19106,2019-05-18 05:16:52,2019-05-18 18:33:00,19.0,T8130709,797,Male,19106,NA
5715,19359,19108,2019-05-18 12:19:08,NaT,72.0,T4189442,3090,Female,19108,NA
5716,19362,19111,2019-05-18 17:23:48,2019-05-20 11:08:41,73.0,T8129932,2505,Male,19111,NA
5717,19364,19113,2019-05-18 22:59:12,NaT,70.0,T6793820,2450,Male,19113,NA
5718,19365,19114,2019-05-19 02:53:24,NaT,26.0,T6020906,2216,Female,19114,NA
5719,19369,19118,2019-05-19 14:02:55,NaT,76.0,T8130872,1547,Male,19118,NA
5720,19371,19120,2019-05-19 16:12:36,NaT,62.0,T5468087,1417,Male,19120,NA
5721,19372,19122,2019-05-19 17:33:09,2019-05-19 17:33:26,65.0,T7913307,0,Female,19122,NA
5722,19374,19123,2019-05-19 19:38:19,NaT,25.0,T6824464,1211,Female,19123,NA
5723,19381,19130,2019-05-20 10:21:51,NaT,60.0,T7010687,328,Male,19130,NA
5724,19384,19133,2019-05-20 15:23:07,NaT,50.0,T0057798,26,Male,19133,NA
5725,19385,19134,2019-05-20 15:43:09,NaT,41.0,T5342504,6,Male,19134,NA

#### Link ICNARC to Philips.

Having cleaned the encounterId numbers we can now link the records in the ICNARC data to the corresponding ICU stays in Philips. The following function renames the "encounterId" column in the Philips data as "CIS Patient ID" and then does an sql-style inner join on the column using pandas.DataFrame.merge

In [6]:
merged_data = join_icnarc_to_philips(philips_data, icnarc_numbers, verbose=VERBOSE)

Because the function clean_philips_encounterIds() replaced some erroneous encounterIds with their correct value, it produced multiple rows with the same ID (now called CIS Patient ID). In general this is  not an issue (for example when processing physiological data extracted form Philips), but here we are trying to produce a table with one row per stay that contains summary data about that stay. The following function combines the duplicate rows:

In [7]:
merged_data = combine_non_unique_encounters(merged_data, combine='simple', verbose=VERBOSE)

#### We now have a clean link between ICNARC and Philips with some summary data on each intensive care stay. This dataframe will serve as our lookup table as we continue to process more data. We now rename this dataframe 'icustays' because it defines each intensive care stay and as such will be a core table in the research database.

#### Next:
* We will add variables, that have been extracted from the ICNARC CMP dataset in a standard xml format, by joining on 'ICNARC number' and 'Unit ID'
* We will process patient phsyiological data extractions from Philips, which link to this dataframe on 'CIS Patient ID' 

The dataframe contains the following columns:

In [8]:
icustays = merged_data
icustays.columns

Index([u'CIS Patient ID', u'Readmission during this hospital stay',
       u'ICNARC number', u'tNumber', u'encounterId_original', u'inTime',
       u'outTime', u'lengthOfStay (mins)', u'gender', u'Unit ID',
       u'CIS Patient ID Original', u'ptCensusId', u'CIS Episode ID', u'age'],
      dtype='object')

#### Add ICNARC CMP variables.

We now parse the xml file that contains the ICNARC CMP dataset variables. This will form another core table in the research database and would be standard across all UK intensive care units.

In [9]:
icnarc_data = parse_icnarc_xml("../ICNARC_Dataset_2015-2018__clean_.xml",
                               "../ICNARC CMP Dataset Properties.xlsx",
                              verbose=VERBOSE)

The ICNARC data links to 'icustays' on 'ICNARC number' and 'Unit ID':

In [10]:
icnarc_data = icnarc_data.merge(merged_data, on=['ICNARC number', 'Unit ID'])

Note: There are three icustays missing in this xml extraction of the ICNARC data. These stays can be determined with the following line of code:
    icustays[~icustays['ICNARC number'].isin(icnarc_data['ICNARC number'])]

## Cleanup from here...
#### We now evaluate some basic statistics to characterise the patient cohort:

In [11]:
convert_minutes_to_days = lambda x: x/float(24*60)

#### First we use variables from the initial WW/Philips join:

In [13]:
def print_ww_philips_summary(df):

    median_age = np.median(df['age'].values)
    age_q25, age_q75 = np.percentile(df['age'].values, [25,75])
    print "Age, median years (IQR): %.1f (%.1f, %.1f)" %(median_age,age_q25,age_q75) 

    median_los = convert_minutes_to_days(np.median(df['lengthOfStay (mins)'].values))
    los_q25, los_q75 = map(convert_minutes_to_days, np.percentile(df['lengthOfStay (mins)'].values, [25,75]))
    print "LOS, median days (IQR): %.1f (%.1f, %.1f)" %(median_los,los_q25,los_q75)
    print ""
    
    n_male = sum(df['gender']=='Male')
    n_female = sum(df['gender']=='Female')
    no_gender = sum(df['gender'].isna())    
    print "Gender, %% female: %.1f" %(100 * n_female / float(n_male + n_female))
    print "(%.1f %% of patients have no gender recorded in Philips.)" %(100*no_gender/float(len(icnarc_data)))
    print " "
    
    readmit = sum(merged_data['Readmission during this hospital stay']=='Yes')
    no_readmit = sum(merged_data['Readmission during this hospital stay'].isna())
    print "Readmission to ICU, #(%%) : %d (%.1f)" %(readmit, 100*readmit/float(len(merged_data)))
    print "(%.1f %% of patients have no recording for this variable in WW.)" %(100*no_readmit/float(len(icnarc_data)))

In [14]:
print_ww_philips_summary(icnarc_data)

Age, median years (IQR): 64.0 (50.0, 73.0)
LOS, median days (IQR): 3.0 (1.7, 5.6)

Gender, % female: 39.7
(0.1 % of patients have no gender recorded in Philips.)

Readmission to ICU, #(%) : 147 (3.0)
(0.0 % of patients have no recording for this variable in WW.)

#### To validate these we now look at the same variables in the XML file of the ICNARC dataset:

### TODO: convert the dates and times to datetime objects and calculate Age and LOS...

#### How much missing data in the ICNARC xml?

### Note: is this right or has the parsing missed values? e.g. 1231 with no outcome on leaving hospital?

In [15]:
print sum(icnarc_data['Weight in kg'].isna())
print sum(icnarc_data['Height in cm'].isna())
print sum(icnarc_data['Status at discharge from your hospital'].isna())
print sum(icnarc_data['Status at ultimate discharge from hospital'].isna())
print sum(icnarc_data['Time when fully ready to discharge'].isna())
print sum(icnarc_data['Status at discharge from your unit'].isna())
print sum(icnarc_data['Status at ultimate discharge from ICU/HDU'].isna())
print sum(icnarc_data['Reason for discharge from your unit'].isna())
print sum(icnarc_data['Sex'].isna())

0
0
1231
4505
1103
0
4733
703
0

#### We calculate BMI:

In [16]:
icnarc_data['bmi'] = icnarc_data['Weight in kg'].astype(float)/((icnarc_data['Height in cm'].astype(float)/100.0)**2)

In [17]:
print sum(icnarc_data['Sex']=='F')/float(len(icnarc_data))
print np.median(icnarc_data['bmi'].values)

0.39639826123
26.564344746162927

In [18]:
no_outcome = icnarc_data[icnarc_data['Status at discharge from your hospital'].isna()]

#### Make some plots...

### Need to get dictionary for ICNARC codes

In [19]:
icnarc_data['Primary reason for admission to your unit']

0        2.7.1.13.3
1       2.11.1.27.1
2        1.3.5.30.1
3        2.3.9.28.1
4        1.1.5.27.2
5        2.6.8.34.5
6        1.3.3.39.1
7        2.7.1.13.1
8       1.3.10.27.6
9        1.3.9.39.1
10       2.1.2.30.1
11       2.1.2.27.1
12        2.1.4.6.1
13       2.2.1.30.1
14       1.7.3.39.1
15       1.3.6.39.2
16      2.2.12.35.4
17       2.4.2.33.1
18       1.3.9.39.1
19      2.2.12.35.2
20        2.6.8.1.2
21       1.3.2.15.1
22       1.3.7.27.1
23       2.9.2.25.1
24       2.1.4.27.5
25       2.1.4.27.1
26       1.1.4.39.1
27        2.1.4.6.1
28       2.7.1.13.4
29       1.3.9.39.1
           ...
4801      2.4.2.7.3
4802      2.4.2.7.3
4803     1.3.5.41.4
4804     2.6.8.1.10
4805     2.1.2.30.1
4806     2.6.8.34.5
4807      2.4.2.7.3
4808     1.3.1.39.3
4809    1.10.2.56.2
4810     1.3.6.57.1
4811     2.7.1.13.1
4812      2.4.2.7.3
4813     2.1.10.7.3
4814     2.6.8.34.9
4815     1.7.3.39.1
4816     1.1.9.56.1
4817     1.4.1.39.5
4818     2.7.1.27.1
4819     1.1.5.39.2
4820     1.1.4.39.1
4821     2.2.5.40.3
4822     1.3.5.30.3
4823     2.9.2.39.2
4824     1.3.6.30.1
4825     2.1.4.27.9
4826      2.4.2.7.3
4827     1.3.1.39.3
4828     1.3.5.30.5
4829     2.1.4.27.5
4830      2.4.2.7.3
Name: Primary reason for admission to your unit, Length: 4831, dtype: object

#### We now load and process physiological data from Philips.

This data comes from two tables in ICCA:
* PtAssessment - containing flowsheet data, often recorded at high frequnecy (~1record/hr)
* PtLabResult - containing laboratory results data (and similar), usually recorded at lower frequency (~1record/day) 

For simplicity we combine these data into a single table, 'chartevents'.

In [12]:
chartevents = clean_philips_encounterids('../ptassess_physiological_data.rpt', 
                                  '../Philips encounterId Issue List (New).xlsx',
                                  verbose=VERBOSE, date_columns=['chartTime', 'storeTime'])

KeyboardInterrupt:

In [17]:
chartevents = pd.read_csv('ptassess_physiological_data.rpt', delimiter='\t')
chartevents = chartevents.append(pd.read_csv('labresults_physiological_data.rpt', delimiter='\t'))

Next we:
    * clean the encountr ids (and rename the colum)
    * do the same for labresults and concatenate it
    * do the simple stats (frequency of recording, frequnecy of missingness, avergae values and variance...)

In [32]:
t1 = pd.DataFrame()
t1['o'] = [1,2,3,4,5,6]

In [33]:
t2 = pd.DataFrame()
t2['o'] = [3,6]
t2['p'] = [1,5]
t2['q'] = [np.nan,'tom']

In [34]:
t3 = t1.merge(t2, how='left', on='o')

In [35]:
t3

   o    p    q
0  1  NaN  NaN
1  2  NaN  NaN
2  3  1.0  NaN
3  4  NaN  NaN
4  5  NaN  NaN
5  6  5.0  tom

In [36]:
t3['p'] = t3['p'].fillna(t3['o'])
t3['q'] = t3['q'].fillna('NA')

In [37]:
t3

   o    p    q
0  1  1.0   NA
1  2  2.0   NA
2  3  1.0   NA
3  4  4.0   NA
4  5  5.0   NA
5  6  5.0  tom

In [38]:
icustays

,CIS Patient ID,Readmission during this hospital stay,ICNARC number,tNumber,encounterId_original,inTime,outTime,lengthOfStay (mins),gender,Unit ID,CIS Patient ID Original,ptCensusId,CIS Episode ID,age
0,1064.0,No,20150290,T6834947,1064,2015-03-20 15:46:19,2015-03-26 12:34:26,8448,Male,1,1064.0,1297,0,76.0
1,1089.0,No,20150221,T7788877,1089,2015-03-01 13:27:05,2015-03-09 16:42:57,11715,Male,1,1089.0,1099,0,58.0
2,1092.0,No,20150222,T7364685,1092,2015-03-01 19:01:34,2015-03-02 17:06:43,1325,Female,1,1092.0,1102,0,60.0
3,1093.0,No,20150223,T5004466,1093,2015-03-01 22:03:42,2015-03-04 02:57:47,3174,Female,1,1093.0,1103,0,90.0
4,1095.0,No,20150224,T5835459,1095,2015-03-01 22:49:16,2015-04-13 19:26:25,61657,Female,1,1095.0,1105,0,43.0
5,1096.0,No,20150225,T7806868,1096,2015-03-02 18:35:46,2015-03-04 09:50:52,1944,Male,1,1096.0,1106,0,54.0
6,1097.0,No,20150226,T5089790,1097,2015-03-02 18:56:55,2015-03-04 09:51:00,1751,Female,1,1097.0,1107,0,79.0
7,1098.0,No,20150227,T5050350,1098,2015-03-02 20:57:39,2015-03-10 12:24:30,11007,Female,1,1098.0,1108,0,78.0
8,1099.0,No,20150228,T5052198,1099,2015-03-03 06:01:25,2015-03-12 15:58:11,13557,Female,1,1099.0,1109,0,70.0
9,1100.0,Yes,20150229,T5007198,1100,2015-03-03 15:26:41,2015-03-05 16:31:14,2945,Male,1,1100.0,1110,0,61.0
10,1101.0,No,20150230,T7855302,1101,2015-03-03 19:54:30,2015-03-06 13:30:38,3936,Female,1,1101.0,1111,0,78.0
11,1102.0,No,20150231,T5425279,1102,2015-03-04 07:05:31,2015-03-05 14:46:20,1901,NaN,1,1102.0,1112,0,34.0
12,1123.0,No,20150232,T6683637,1123,2015-03-04 10:35:56,2015-03-10 17:00:32,9025,Female,1,1123.0,1133,0,84.0
13,1131.0,No,20150233,T5636513,1131,2015-03-04 23:15:33,2015-03-06 19:13:12,2638,Male,1,1131.0,1141,0,47.0
14,1138.0,No,20150234,T5685484,1138,2015-03-05 18:17:50,2015-03-12 14:54:36,9877,Male,1,1138.0,1148,0,70.0
15,1139.0,No,20150235,T7492315,1139,2015-03-05 19:34:30,2015-03-06 23:27:31,1588,Female,1,1139.0,1149,0,64.0
16,1142.0,No,20150236,T7804428,1142,2015-03-05 23:28:00,2015-03-07 22:27:11,2819,Male,1,1142.0,1152,0,59.0
17,1145.0,No,20150237,T5995244,1145,2015-03-06 11:58:31,2015-03-10 15:19:32,5961,Male,1,1145.0,1155,0,52.0
18,1149.0,No,20150238,T6611093,1149,2015-03-06 15:47:26,2015-03-10 16:42:35,5815,Male,1,1149.0,1159,0,43.0
19,1152.0,No,20150240,t6893055,1152,2015-03-07 00:06:05,2015-03-09 15:13:51,3787,Female,1,1152.0,1162,0,75.0
20,1153.0,No,20150241,T5734285,1153,2015-03-07 01:29:06,2015-03-07 13:38:03,729,Male,1,1153.0,1163,0,43.0
21,1154.0,No,20150242,t7865530,1154,2015-03-07 09:00:02,2015-03-07 12:10:37,190,NaN,1,1154.0,1164,0,115.0
22,1156.0,No,20150243,T5899509,1156,2015-03-07 17:27:59,2015-03-14 15:48:31,9981,Male,1,1156.0,1166,0,57.0
23,1157.0,No,20150244,T5214049,1157,2015-03-07 22:38:38,2015-03-11 10:44:43,5046,Female,1,1157.0,1167,0,74.0
24,1158.0,No,20150245,T7004254,1158,2015-03-08 09:58:31,2015-03-22 16:41:25,20563,Female,1,1158.0,1168,0,52.0
25,1162.0,No,20150246,T5234857,1162,2015-03-09 05:29:30,2015-03-10 07:08:45,1539,Female,1,1162.0,1172,0,79.0
26,1163.0,No,20150247,T6933643,1163,2015-03-09 07:53:59,2015-03-26 15:01:13,24908,Female,1,1163.0,1173,0,64.0
27,1168.0,No,20150248,T0066496,1168,2015-03-09 17:43:37,2015-03-11 16:04:09,2781,Female,1,1168.0,1178,0,59.0
28,1176.0,Yes,20150249,T5007198,1176,2015-03-10 10:07:07,2015-03-18 16:28:32,11901,Male,1,1176.0,1186,0,61.0
29,1177.0,No,20150250,T5833505,1177,2015-03-10 13:49:38,2015-03-11 15:42:48,1553,Male,1,1177.0,1187,0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,17293.0,No,20181290,T8104507,17293,2018-12-22 13:47:03,2018-12-25 18:45:07,4618,Male,1,17293.0,17524,0,70.0
4805,17294.0,No,20181291,T5763126,17294,2018-12-22 17:19:02,2018-12-29 17:03:57,10064,Male,1,17294.0,17525,0,57.0
4806,17297.0,No,20181292,T5764760,17297,2018-12-22 17:43:00,2018-12-27 13:28:52,6945,Male,1,17297.0,17527,0,74.0
4807,17301.0,Yes,20181296,T8051884,17301,2018-12-23 08:04:58,2018-12-24 12:44:43,1720,Female,1,17301.0,17532,0,28.0
4808,17302.0,No,20181294,T8104561,17302,2018-12-23 09:43:33,2018-12-23 20:51:09,668,Male,1,17302.0,17533,0,27.0
4809,17303.0,No,20181295,T5868917,17303,2018-12-24 01:15:06,2018-12-24 15:06:23,831,Female,1,17303.0,17534,0,27.0
4810,17311.0,No,20181297,T8104740,17311,2018-12-24 14:12:03,2019-01-01 19:08:08,11816,Male,1,17311.0,17542,0,72.0
4811,17312.0,No,20181300,T7357313,17312,2018-12-24 18:53:20,2018-12-26 16:26:00,2733,Male,1,17312.0,17543,0,83.0
4812,17314.0,No,20181298,T6959865,17314,2018-12-24 19:41:05,2018-12-25 18:13:04,1352,Male,1,17314.0,17545,0,67.0
4813,17315.0,No,20181299,T5106898,17315,2018-12-24 20:51:43,2018-12-25 18:46:37,1315,Male,1,17315.0,17546,0,66.0
4814,17316.0,No,20181301,T5490487,17316,2018-12-25 10:36:38,2019-01-03 16:49:06,13333,Male,1,17316.0,17547,0,45.0
4815,17318.0,No,20181302,T6991740,17318,2018-12-25 22:22:39,2018-12-26 06:09:45,467,Male,1,17318.0,17549,0,82.0
4816,17319.0,No,20181303,T6613647,17319,2018-12-25 22:40:01,2018-12-28 04:00:53,3200,Female,1,17319.0,17550,0,55.0
4817,17321.0,No,20181304,T8104931,17321,2018-12-27 09:10:51,2018-12-31 19:21:19,6371,Female,1,17321.0,17552,0,51.0
4818,17327.0,Yes,20181305,T0117832,17327,2018-12-27 13:01:25,2018-12-31 15:03:18,5882,Female,1,17327.0,17558,0,71.0
4819,17328.0,No,20181306,T8105007,17328,2018-12-27 13:37:48,2018-12-31 18:58:07,6081,Male,1,17328.0,17559,0,70.0
4820,17334.0,No,20181307,T8098981,17334,2018-12-27 18:31:13,2018-12-30 15:22:08,4131,Male,1,17334.0,17564,0,40.0
4821,17336.0,No,20181308,T6059358,17336,2018-12-27 23:07:25,2019-01-08 11:57:31,16610,Male,1,17336.0,17567,0,78.0
4822,17338.0,No,20181309,T8103185,17338,2018-12-28 05:50:44,2018-12-29 23:57:58,2527,Male,1,17338.0,17569,0,49.0
4823,17339.0,No,20181310,T4333284,17339,2018-12-28 07:06:27,2018-12-29 09:42:14,1596,Female,1,17339.0,17570,0,74.0
4824,17349.0,No,20181311,T7905157,17349,2018-12-28 16:45:08,2018-12-29 15:27:13,1362,Male,1,17349.0,17580,0,69.0
4825,17352.0,No,20181312,T7021322,17352,2018-12-28 21:15:15,2018-12-30 15:24:33,2529,Female,1,17352.0,17583,0,59.0
4826,17353.0,No,20181313,T5412195,17353,2018-12-29 05:44:50,2019-01-01 12:08:07,4704,Female,1,17353.0,17584,0,62.0
4827,17356.0,No,20181314,T4525558,17356,2018-12-29 18:10:59,2019-01-25 15:30:07,38720,Male,1,17356.0,17587,0,75.0
4828,17358.0,No,20181315,T8086285,17358,2018-12-30 00:44:17,2019-02-28 18:30:50,87466,Male,1,17358.0,17589,0,46.0
4829,17368.0,No,20181316,T7721586,17368,2018-12-31 03:25:00,2019-01-03 09:32:47,4687,Male,1,17368.0,17598,0,64.0
4830,17374.0,No,20181317,T5679234,17374,2018-12-31 11:37:19,2019-01-01 16:43:09,1746,Male,1,17374.0,17604,0,55.0
4831,17377.0,No,20181318,T6848902,17377,2018-12-31 12:27:59,2019-01-02 16:03:54,3096,Male,1,17377.0,17608,0,73.0
4832,17383.0,No,20181319,T8105521,17383,2018-12-31 20:37:56,2019-01-02 20:39:26,2882,Female,1,17383.0,17614,0,32.0
4833,17385.0,No,20181320,T8105620,17385,2018-12-31 21:46:43,2019-01-02 16:53:50,2587,Unknown,1,17385.0,17616,0,73.0